<div id="footer_filler"></div>
<div style="display:inline">
<div class="fb-like" data-href="http://www.facebook.com/Howtomanagemyfootballteamcom" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial"></div>
</div>
<a href="http://www.jeu-gratuit.net" target="_blank"><img src="http://www.jeu-gratuit.net/images/ban_jg_88x31_fix.png" border="0" alt="jeux en ligne" /></a>
<!-- Annuaire des jeux en ligne gratuits - Jeux web - Jeux alternatifs  -->
<p style="text-align:center;font-size:9px;display:inline;"><a href="http://www.gamersroom.com/vote.php?num=1949" title="Annuaire des jeux en ligne gratuits - Jeux web - Jeux alternatifs"><img src="http://www.gamersroom.com/pub/bouton1.gif" alt="Annuaire des jeux en ligne gratuits - Jeux web - Jeux alternatifs" style="border:none" /><br />Votez pour ce site !</a></p>
<!-- fin Annuaire des jeux en ligne gratuits - Jeux web - Jeux alternatifs -->
<a href="http://www.pbem.fr/pr/fiche.php?n=1949" title="Communauté de jeux en ligne - PBeM - JPC"><img src="http://www.pbem.fr/pr/pr.php?id=1949&amp;g=3" alt="PBeM Rank" /></a>
&nbsp; 0.9 &nbsp;
<%= mail_to "webmaster@howtomanagemyfootballteam.com", nil, :replace_at => "_at_", :replace_dot => "_dot_" %>
<a href="http://www.jeux-web.com/" title="La communauté des joueurs de jeux en ligne alternatifs">Jeux-Web.com</a>
<a href="http://www.facebook.com/Howtomanagemyfootballteamcom">Facebook</a>
</div>
