html{
margin: 0;
padding: 0;
}

body {
 background-color:white;
 margin-top:-10px;
  color: black;
margin: 0;
padding: 0;
} 


body, p, ol, ul {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;

}
p {
text-align:justify;
}
td{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   14px;
  line-height: 18px;
  font-weight:300;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

h1,h2, h3 {
color:grey;
font-weight:300;}
a { color: black; 
	text-decoration:none; }
a:visited { color:black ; }
a:hover { color: blue; }

.h1 a:visited { color:grey ; }
.h1 a:hover { color:#C8D8FA ; }

.fieldWithErrors {
  padding: 2px;
  background-color: #C8D8FA;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #C8D8FA;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#header_container{
background-image:url(fond_equipe_black.jpg);
 background-color:grey;
  height: 92px;
   margin: 0;
padding: 0;
padding-top:-20px;
}

#header {
    
 color:black;
 top: 0px;
 width:100%;
 height: 70px;
 float:left;

}
#header_filler_right{
background-image:url(fond_equipe_black.jpg);
background-color:grey;    
  width:5%;
 height:70px;
 float:left;
 color:white;

}

#header_filler_left{
  
background-color:grey;
width:5%;
 height: 70px;
 float:left; 

}

#header h1 {
 color:white;
 font-size: 34px;
 font-family: "Times New Roman";
 font-weight:200;
 //margin-top:-5px;
}

#header h2 {
 color:white;
 font-size: 27px;
 font-family: "Times New Roman";
 font-weight:200;
 padding-top:3px;
}

#header a{ color: white;
	text-decoration:none; }
#header a:visited { color:white; }
#header a:hover { color: #C8D8FA; }

#global{
min-height:100%;

}

#container{
 margin-top:3px;
 background-color:white;
 padding-top : 10px; 
}
#footer_filler{
height:260px;
}
#footer{
color:#598317;
text-align:center;
}
#footer a{
color:#598317;
text-align:center;
}



.new_user_session{
display:inline;
}


#header interro{
color:#084CE3;
font-weight:200;
font-size:36px;
}


#header a.interro{color:#084CE3;
font-weight:200;
font-size:40px}
#header a:visited.interro{color:#084CE3;}
#header a:hover.interro{color:#C8D8FA;}

.laligne{
display:inline;
float:right;
margin:0px;
padding:0px;
//text-align:right;
background-color:grey;
font-size:12px;
line-height:10px;
vertical-align:bottom;
background-image:url(fond_equipe_black.jpg);
margin-bottom : 10px;
margin-top: -33px;
}

.laligne input{
color:blue;
padding:0px;
margin:0px;
vertical-align:top;
font-size:10px;
line-height:10px;
}

.laligne a{ color: white;
	text-decoration:none; 
	 font-size: 12px;
	// padding-top : 10px;
	 margin-bottom:0px;
	// float:left;
	 }
.laligne a:visited { color:white; }
.laligne a:hover { color: #C8D8FA; }


.menu{
float:right;
background-color:white;
color: grey;
width : 19%;
margin-left : 80%;
padding:5px;
//margin-top:22px;
margin-top:-17px;
}

.menu a{ color: #598317 !important;
	text-decoration:none; }
.menu a:visited { color:#598317 !important; }
.menu a:hover { color: #C8D8FA !important; }

.menu td{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   12px;
  padding-top:0px;
  margin-top:0px;
   padding-bottom:0px;
  margin-bottom:0px;
}
.menu table{
 padding-top:0px;
  margin-top:0px;
   padding-bottom:0px;
  margin-bottom:0px;
}

#menu {
width:79%;
margin-top:-20px;

}
/**
#onglets
{
    list-style-type : none; 
	margin-left:-40px;
	margin-top:-20px;
	color : grey;
	
}**/
#onglets h1{
	margin:0px;
	margin-top:10px;
	color : grey;
}

nav li{
  display:inline-block;
 // border-bottom:1px solid #8BBF50;
  margin-left:-20px;
  text-align : center;
    width:23%;
    font-family: verdana, arial, helvetica, sans-serif;
    color:darkGrey;
}

nav h1{
//font-family: verdana, arial, helvetica, sans-serif;
font-size:24px;
}
nav li#icon_terrain{
width: 80px;
height:51px;
position:relative;
  display:inline-block;
  margin:0 6px;
  padding:8px 11px;
    border-radius:7px 7px 0 0; /* just to smooth the top edges */
}

#icon_terrain img{
padding-top:3px;
margin-bottom:-20px;
}

nav li#icon_terrain_adverse{
width: 280px;
height:50px;
position:relative;
  display:inline-block;
  margin:0 6px;
  //padding:8px 11px;
    border-radius:7px 7px 0 0; /* just to smooth the top edges */
    font-size:20px;
    //margin-bottom:-30px;
    //margin:0;
    margin-top:-20px;
}

#icon_terrain_adverse img{
padding-top:-10px;
//margin-top:-7px;
//padding-bottom:25px;
margin-bottom:-10px;
//vertical-align:text-top;
padding-bottom:2px;
}

#icon_terrain_adverse h1{
padding: 0;
margin:0;
margin-top:15px;
margin-bottom:0px;
padding-bottom:10px;
}

nav h1{
//margin-top:10px;
margin-top:15px;
margin-bottom:0px;
padding-bottom:10px;
//margin-bottom:30px;
}
nav a{
margin : 5px;
color:darkGrey;
}
nav a.active{
color:black;
}
nav a:hover{
color:black;
}

nav li{
 height:50px;
  color:#fff;
  //background:#8BBF50;
  background:lightGray;
 // float : left;
  position:relative;
  display:inline-block;
  margin:0 6px;
  padding:8px 11px;
 // text-shadow: 0 1px 0 rgba(0,2,0,0.4);
  border-radius:7px 7px 0 0; /* just to smooth the top edges */
}
nav li:before,
nav li:after{
  content:" ";
  position: absolute;
  top:0;
  width: 24px;
  height: 100%;
  background-color: inherit; 
  
}
nav li:before{
  border-radius: 12px 0 0 0;
  transform: skew(-12deg);
  left: -12px; /* play with this one to give the LI border ~2px extrusion */
}
nav li:after{
  border-radius: 0 12px 0 0;
  transform: skew(12deg);
  right: -12px; /* play with this one to give the LI border ~2px extrusion */
  //border-right: 1px solid #628E2F;
  border-right: 1px solid darkGrey;
  z-index: 1; /* overlap next element */
}
/* LI ACTIVE  */
nav li.active{
   border-top:1px solid darkGrey;
   border-bottom:1px solid #fff;
}
nav li.active {
  color:#8BBF50;
  background:#fff;
  color:black;
}

nav li.active a{
	color:black;
}
nav li.active:before{
  z-index: 1; /* overlap prev element */
  border-left:1px solid darkGrey;
}
nav li.active:after{
   border-bottom:1px solid #fff;
}

/**
#onglets a{
  color:#fff;
  background:#8BBF50;
  position:relative;
  display:inline-block;
 // margin:0 22px;
  //padding:8px 11px;
  //text-shadow: 0 1px 0 rgba(0,2,0,0.4);
  border-radius:7px 7px 0 0; /* just to smooth the top edges 
}
**/

#onglets li
{
	background:#8BBF50;
    //float : left;
   /** margin-right: 11px;**/
    text-align : center;
    width:314px;
    height:50px;
    border-style: solid;
   // border-width: 0 1px 1px 0px;
    //border-radius: 20px 30px 0 0;
    border-radius:7px 7px 0 0;
    position:relative;
  display:inline-block;
    
    margin-left:0px;
    margin-right:0px;
    padding-top:10px;
}


/**test***/
#onglets li:before{
  border-radius: 12px 0 0 0;
  transform: skew(-24deg);
  left: -13px; /* play with this one to give the LI border ~2px extrusion */
}
#onglets li:after{
  border-radius: 0 12px 0 0;
  transform: skew(24deg);
  right: -13px; /* play with this one to give the LI border ~2px extrusion */
  border-right: 1px solid darkGrey;
  z-index: 1; /* overlap next element */
}
/**
li#icon_terrain{
	width:52px;
	 height:50px;
	//border-radius: 20px 30px 0 0;
	border-radius:7px 7px 0 0;
	border-width: 1px 1px 1px 1px;
	padding-top:10px;
}

li#icon_terrain.active{
	width:52px;
	border-style: solid;
    border-width: 1px 1px 0 1px;
  //  border-radius: 20px 10px 0 0;
   //border-radius: 20px 10px 0 0;
    // border-color:white;
   //  box-shadow: 7px -6px 7px #777 ;
    // border-color:white;
    border-color:black;
     background:#fff;
}

#onglets li.active 
{
	 background:#fff;
    color:white;
    //border-color:white;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-radius: 20px 20px 0 0;
   // border-radius: 20px 10px 0 0;
  //  box-shadow: 7px -6px 7px #777 ;
}
**/
#onglets li.active a:before{
  z-index: 1; /* overlap prev element */
}
#onglets li.active a:after{
   border-bottom:1px solid #fff;
}
/**
#onglets li.active + li
{
border-radius: 0 30px 0 40px;
border-width: 0 1px 1px 0;
border-color:black;
}
**/

#onglets a
{
    color:grey;
    text-decoration : none;
}

#onglets li.active a
{
    color:grey;
}

#onglets a:hover
{
    color :black;
}

.equipe{
float:left;
height:100%;
width:79%;
color:black;

}

.stats_layout{
float:left;
height:100%;
width:100%;
color:grey;
}

stats_layout td{
  font-size: 14px !important;	
   line-height: 5px !important;	
   padding-top:1px !important;	
    padding-bottom:1px !important;	
}
.stats_layout tr{
  font-size: 14px !important;	
   line-height: 1px !important;	
   padding: 1px !important;	
}

.stats_layout a{ color: grey; 
	text-decoration:none; }
.stats_layout a:visited { color:grey ; }
.stats_layout a:hover { color: black; }
.stats_layout h1{
color:grey !important;	
margin:0px !important;	
margin-top:4px !important;	
margin-left:15px !important;	
}
.stats_layout h2{
color:grey !important;	
margin:0px !important;	
margin-top:4px !important;	
margin-left:15px !important;	
}




.equipe td{
  font-size: 14px;
   line-height: 5px;
   padding-top:1px;
    padding-bottom:1px;
}
.equipe tr{
  font-size: 14px;
   line-height: 1px;
   padding: 1px;
}

.equipe a{ 
	text-decoration:none; }
.equipe a:visited { color:grey ; }
.equipe a:hover { color: blue; }
.equipe h1{
color:grey;
margin:0px;
margin-top:4px;
margin-left:15px;}
.equipe h2{
color:white;
margin:0px;
margin-top:4px;
margin-left:15px;}


.selected a{color:black;}
.selected a:visited{color:black;}
.selected {color:black;}

.unselected a{color:black;}
.unselected a:visited{color:black;}
.unselected {color:black;}


.equipe_paire{
 background-color:white;
}
.equipe_impaire{
 background-color:lightGray ;
}
.mon_equipe{
}
.classement
{
margin-left : 80%;
background-color:white;
width:19%;
/**margin-top:1px;**/
/**padding-top:23px;**/
margin-top:-72px;
}
.classement a{ color: black; 
	text-decoration:none; 
	}
.classement a:visited { color:black ; }
.classement a:hover { color: blue; }
.classement.a h2 {
color:grey;
margin:5px;
//margin-top:7px;
}
.classement tr{
padding:1px;
width:100%;
}

.classement td{
padding:1px;
padding-right:3px;
padding-left:1px;
}
.classement th{
text-align:center;
//width:100%;
}
.class_container{
margin-right:2px;
margin-left:2px;
width:100%;
}
.classement_tab{
margin-right:0px;
margin-left:0px;
width:100%;
font-size:12px;

}

.classement td.classement_place{
font-weight:bold;
padding-left:0px;
text-align:right;
padding-right:1px;
}
.classement td.classement_nom {
font-weight:bold;
text-align:left;
padding-left:0px;
padding-right:0px;
//width:80px;
}

.classement td.classement_pts {
font-weight:bold;
text-align:center;
padding-left:7px;
padding-right:7px;
/**margin-left:3px;
margin-right:3px;**/
}
.classement td.classement_nb_journee{
padding-left:5px;
padding-right:4px;
text-align:center;
}

.classement td.classement_vic{
padding-left:5px;
padding-right:2px;
//margin-left:3px;
border-left:1px solid;
text-align:center;
}
.classement td.classement_nul{
padding-left:2px;
padding-right:2px;
text-align:center;
border-right:1px dashed;
border-left:1px dashed;
}
.classement td.classement_def{
padding-left:2px;
padding-right:5px;
border-right:1px solid;
text-align:center;
}
.classement td.classement_bp{
padding-left:5px;
padding-right:2px;
text-align:center;
border-left:1px solid;
}	
.classement td.classement_bc{
padding-left:2px;
padding-right:2px;
text-align:center;
border-right:1px dashed;
border-left:1px dashed;
}
.classement td.classement_diff{
padding-left:2px;
padding-right:5px;
text-align:center;
border-right:1px solid;
}


.classement th.classement_place{
font-weight:bold;
padding-left:0px;
text-align:right;
padding-right:1px;
}
.classement th.classement_nom {
font-weight:bold;
text-align:left;
padding-left:0px;
padding-right:0px;
//width:80px;
}

.classement th.classement_pts {
font-weight:bold;
text-align:center;
padding-left:7px;
padding-right:7px;
/**margin-left:3px;
margin-right:3px;**/
}
.classement th.classement_nb_journee{
padding-left:5px;
padding-right:4px;
text-align:center;
}

.classement th.classement_vic{
padding-left:5px;
padding-right:2px;
//margin-left:3px;
border-left:1px solid;
text-align:center;
}
.classement th.classement_nul{
padding-left:2px;
padding-right:2px;
text-align:center;
border-right:1px dashed;
border-left:1px dashed;
}
.classement th.classement_def{
padding-left:2px;
padding-right:5px;
border-right:1px solid;
text-align:center;
}
.classement th.classement_bp{
padding-left:5px;
padding-right:2px;
text-align:center;
border-left:1px solid;
}	
.classement th.classement_bc{
padding-left:2px;
padding-right:2px;
text-align:center;
border-right:1px dashed;
border-left:1px dashed;
}
.classement th.classement_diff{
padding-left:2px;
padding-right:5px;
text-align:center;
border-right:1px solid;
}


.classement_tab td{
font-size:12px;
}
.classement h2{
color:grey;
margin-bottom:5px;
margin-top:7px;
padding-bottom:5px;
padding-top:10px;
font-family: verdana, arial, helvetica, sans-serif;
font-size:20px;
}

.impaire{
background-color:lightGray;
}

.paire{
background-color:white;
}
.agenda{
font-size:12px;
line-height:13px;
width:100%;
}

.agenda tr{
padding:2px;
margin-bottom:2px;
font-size:12px;
line-height:15px;
}

.agenda td{
padding:2px;
padding-right:4px;
padding-left:4px;
margin-bottom:2px;
font-size:12px;
line-height:15px;
}

.agenda td.tiret{
vertical-align:center;
text-align:center;
font-weight:bold;
}
.agenda td.equipe_dom{
padding-right:10px;
text-align: right;
}

.agenda td.equipe_ext{
padding-left:10px;
text-align:left;
}


.calendrier td.num_journee{
font-weight:bold;
padding-left:5px;
text-align:right;
}
.calendrier td.tiret{
vertical-align:center;
text-align:center;
font-weight:bold;
}
.calendrier td.equipe_dom{
padding-right:10px;
text-align: right;
}

.calendrier td.equipe_ext{
padding-left:10px;
text-align:left;
}

.calendrier{
font-size:12px;
line-height:12px;
width:100%
}


.calendrier tr{
padding:1px;
margin:0px;
font-size:12px;
line-height:12px;
}

.calendrier td{
padding:1px;
padding-right:4px;
padding-left:4px;
font-size:12px;
line-height:15px;
}

.journee{
text-align:center;
margin-left : 80%;
width:20%;
color:black;
padding-bottom:10px;
width:19%;
}
.journee h2{
color:grey;
margin-bottom:5px;
margin-top:10px;
padding-bottom:5px;
padding-top:10px;
font-family: verdana, arial, helvetica, sans-serif;
font-size:20px;
}

.liste_joueur{
border-style:none;

}
table {
    font-family: arial, verdana, sans-serif;
    font-size: 11px;
    border-collapse:collapse;
    margin: 5px;
}
td {
    padding: 5px;
}
th.graph {
   font-size:25px;
   font-weight:300;
}

td.graph {
    width: 100px;
}
td.graph .bar {
    background: #4291ea;
    height:7px;
	float:left;
	
}
td.graph .barfiller {
    background: #022567;
    height:7px;
	}

td.graph_joueur {
    width: 200px;
}
td.graph_joueur .bar_joueur {
   background: #4291ea;
    height: 15px;
    float:left;   

}
td.graph_joueur .barfiller_joueur {
    background: #022567;
    height: 15px;
    
} 

th.stats{
line-height:10px;
vertical-align:bottom;
}

td.graph .icon_stats{
float:left;
width:16px;
height:16px;
}

.carac_joueur{
font-size : 18px;
line-height : 25px;
margin:20px;

}
.carac_joueur td{
height : 50px;
}

.carac_joueur h2{
margin-bottom:10px;
margin-top:20px;
}

.carac_joueur h3{
margin:14px;
margin-left:35px;
display:inline;
}

.carac_joueur table{

border-width : 1px;

}
.report_form{

}

.texte{
//margin-top:-12px;
padding:5px;
height:100%;
color:black;
background-color:white;

}
.texte h1{
color:#598317;
}
.texte h2{
color:#598317;
}
.texte h3{
color:#598317;
}
.texte h4{
color:#598317;
}
.texte p{
padding-top:2px;
padding-bottom:0px;
padding-right:7px;
padding-left:7px;
margin:0px;
}

.texte td{
font-size:13px;
font-weight:normal;
}
.texte a {
color:#598317;
}
.texte a:hover { color: #C8D8FA; }

.warning{
border:solid 4px red;
margin-top:-5px;
font-weight:300;
padding:10px;
text-align:justify;
}

.sommaire{
margin:0px;
}
.sommaire h1{
padding:1px;
color:black;
padding-left:2px;
font-size:20px;
margin:0px;
font-weight:300;
}

.sommaire h2{
padding:1px;
padding-left:10px;
font-size:20px;
color:black;
margin:0px;
font-weight:300;
}
.sommaire h3{
padding:1px;
padding-left:50px;
font-size:16px;
color:black;
margin:0px;
font-weight:300;
}
.sommaire h4{
padding:1px;
padding-left:90px;
font-size:14px;
color:black;
margin:0px;
font-weight:normal;
}
.sommaire a{
padding:1px;
color:black;
}

.bouton_div{
margin-right : 16%;
}
.button_to{
}

.bouton{
margin:5px;
float:right;
}

.bouton input{
float:right;
}

.club_info{
font-size : 18px;
line-height : 25px;
margin:30px;

}


.club_info td{
  font-size: 14px;
   line-height: 15px;
   padding-top:1px;
    padding-bottom:1px;
}
.club_info tr{
  font-size: 14px;
   line-height: 15px;
   padding: 1px;
}

#top{

padding-right: 20px;
padding-left: 20px;
padding-top: 5px;
padding-bottom: 5px;
margin-left:20px;
margin-right:20px;
margin-top:5px;
margin-bottom:5px;
border-radius:20px;
background-color:white;
color:black;
}

#top a{ color: black; 
	text-decoration:none; }
#top a:visited { color:black ; }
#top a:hover { color: #C8D8FA; }

.stat_tab td{
padding-left:5px;
padding-top:10px;
padding-bottom:10px;
padding-right:5px;
}

.stat_tab th{
margin-left:5px;
margin-right:5px;
margin-top:10px;
}

.stat_tab h2
{
color:black;
padding-bottom:5px;
padding-top:5px;
}

.stat_tab a{ color: black; 
	text-decoration:none; }
.stat_tab a:visited { color:black ; }
.stat_tab a:hover { color: #C8D8FA; }

.entrainement{

padding-left:20px;
padding-top : 20px;

}


/***************************/


.fb_reset { background: none repeat scroll 0% 0% transparent; border: 0px none; border-spacing: 0px; color: rgb(0, 0, 0); cursor: auto; direction: ltr; font-family: "lucida grande",tahoma,verdana,arial,sans-serif; font-size: 11px; font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: 1; margin: 0px; overflow: visible; padding: 0px; text-align: left; text-decoration: none; text-indent: 0px; text-shadow: none; text-transform: none; visibility: visible; white-space: normal; word-spacing: normal; }
.fb_reset > div { overflow: hidden; }
.fb_iframe_widget { display: inline-block; position: relative; }
.fb_iframe_widget span { display: inline-block; position: relative; text-align: justify; }
.fb_iframe_widget iframe { position: absolute; }
.fb_edge_widget_with_comment { position: relative; }
