<h1>Editing historique</h1>

<% form_for(@historique) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @historique %> |
<%= link_to 'Back', historiques_path %>
