<div class="texte">

Bienvenu sur "How to manage my football team" qui est jeu en ligne totalement gratuit qui se joue entiérement dans votre navigateur, sans aucune installation de logiciel. Le jeu et le site ne sont pas encore en version finale, mais on peut jouer et les championnats ont déjà commencé. C'est un jeu de gestion sportive de football autrement appelé jeux d'entraineur ou de football manager. Vous allez prendre en main le destin d'une équipe, sa vingtaine de bonhommes avec un championnat à remporter. Le jeu est concu pour que vos préocupations du jeu se rapproche le plus de ce que peut vivre un homme de terrain, proche du rectangle vert. Créez votre tactique, sélectionnez les meilleurs joueurs, et croisez les doigts les jours de matchs. Les matchs ont lieu tout les 3, 4 jours. Puis viendront la gestion de l'entrainement et des transferts.
<BR>
Inscrivez-vous et commencez l'aventure ou profitez de l'équipe démo pour faire le tour du jeu et des possibilités. Plus d'information et d'aides disponible dans la rubrique how to , et un rapide manuel d'uilisation est ici
<BR>
Bon jeu et bon matchs!

</div>
